05_spring_mvc_basic/src/main/resources/templates/soap.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:sch0="http://dailyworker.github.io/tiny-travel/flight/schemas/messages"
        xmlns:sch1="http://dailyworker.github.io/tiny-travel/flight/schemas/types"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://dailyworker.github.io/tiny-travel/flight/schemas/definitions" targetNamespace="http://dailyworker.github.io/tiny-travel/flight/schemas/definitions">
    <wsdl:types>
        <schema
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://dailyworker.github.io/tiny-travel/flight/schemas/messages"
                xmlns:types="http://dailyworker.github.io/tiny-travel/flight/schemas/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dailyworker.github.io/tiny-travel/flight/schemas/messages">
            <import namespace="http://dailyworker.github.io/tiny-travel/flight/schemas/types"/>
            <element name="GetFlightsRequest">
                <complexType>
                    <all>
                        <element name="from" type="types:Airport"/>
                        <element name="to" type="types:Airport"/>
                        <element name="departureDate" type="date"/>
                    </all>
                </complexType>
            </element>
            <element name="GetFlightsResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="flightSchedule" type="types:FlightSchedule"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://dailyworker.github.io/tiny-travel/flight/schemas/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dailyworker.github.io/tiny-travel/flight/schemas/types">
            <complexType name="FlightSchedule">
                <sequence>
                    <element name="AirPlane" type="tns:Airplane"/>
                    <element name="departDate" type="dateTime"/>
                    <element name="from" type="tns:Airport"/>
                    <element name="arriveDate" type="dateTime"/>
                    <element name="to" type="tns:Airport"/>
                </sequence>
            </complexType>
            <complexType name="Airplane">
                <sequence>
                    <element name="flightModelName" type="string"/>
                    <element name="flightNumber" type="string"/>
                    <element name="available" type="int"/>
                </sequence>
            </complexType>
            <complexType name="Airport">
                <all>
                    <element name="city" type="string"/>
                    <element name="airport" type="string"/>
                </all>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="GetFlightsRequest">
        <wsdl:part element="sch0:GetFlightsRequest" name="GetFlightsRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetFlightsResponse">
        <wsdl:part element="sch0:GetFlightsResponse" name="GetFlightsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FlightPort">
        <wsdl:operation name="GetFlights">
            <wsdl:input message="tns:GetFlightsRequest" name="GetFlightsRequest"></wsdl:input>
            <wsdl:output message="tns:GetFlightsResponse" name="GetFlightsResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FlightPortSoap11" type="tns:FlightPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetFlights">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetFlightsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetFlightsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FlightPortService">
        <wsdl:port binding="tns:FlightPortSoap11" name="FlightPortSoap11">
            <soap:address location="http://localhost:8081/flight-service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>›